h1{
    margin:10px;
}

.tasksort{
    display:flex;
    justify-content: space-evenly;
    width:100%;
    height:800px;
    padding: 10px;
}

/*pends*/

.pend{
    border-color: red;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    height:100%;
    width:400px;
    overflow-y:auto;
}

.pendTitle{
    border-bottom-color: red;
    border-bottom-width: 5px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
}

.pendItems{
    padding: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.pendItem{
    width: 350px;
    margin: 10px;
    border-color: red;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
}

.pendButton{
    display:flex;
    justify-content: flex-end;
}

/*ongs*/

.ong{
    border-color: yellow;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    height:100%;
    width:400px;
    overflow-y:auto;
}

.ongTitle{
    border-bottom-color: yellow;
    border-bottom-width: 5px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
}

.ongItems{
    padding: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.ongItem{
    width: 350px;
    margin: 10px;
    border-color: yellow;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
}

.ongButton{
    display:flex;
    justify-content: space-between;
}

/*ends*/

.end{
    border-color: lime;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    height:100%;
    width:400px;
    overflow-y:auto;
}
.endTitle{
    border-bottom-color: lime;
    border-bottom-width: 5px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
}

.endItems{
    padding: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.endItem{
    width: 350px;
    margin: 10px;
    border-color: lime;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
}